---
- name: Nginx present
  yum: name=nginx state=present

- name: index.html file
  template: src=index.html.j2 dest=/usr/share/nginx/html/index.html

- name: nginx conf
  template: src=nginx.j2 dest=/etc/nginx/nginx.conf
  notify: restart nginx

